extends layout

block content 
  div(class="auth-page expand")
    div(class="card")
      div(class="card-header")
        | Login
      form(action="/login", method="post")
        div(class="card-body")
          if error 
            div(class="alert alert-error")= error
          div(class="form-group")
            label(for="email") Email
            input(type="email", name="email", id="email" value="test@test.com")
          div(class="form-group")
            label(for="password") Contraseña
            input(type="password", name="password", id="password" value="test123456")

        div(class="card-footer")
          div(class="small")
            | No estas registrado? 
            a(href="/register") 👻 Vamos a ello! 
          button(type="submit", class="btn btn-primary") Login