extends index

block body
  div(class="note-form-page")
    form(action="/notes", method="post")
      div(class="form-group")
        input(type="text", name="title", id="title", placeholder="Escribe un título ...", autocomplete="off", autofocus)
        if errors && errors.title
          div(class="error")
            i(class="fa fa-exclamation-triangle error-icon")
            div(class="error-text")=errors.title.message
      div(class="body-container")
        textarea(type="textarea", name="body", id="body", rows="8", placeholder="Escribe tu nota...")
      
      div(class="form-actions")
        a(href="/", class="btn") Cancelar
        button(type="submit", class="btn btn-primary") Crear Post

  script. 
    var textarea = document.getElementById("body");
    var heightLimit = 1000; /* Maximun height 1000px */
    heightLimit -= 400;

    function adjustHeight() {
      textarea.style.height = ""; //Reset the height
      textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + "px";
    }

    textarea.oninput = adjustHeight;
    adjustHeight();

    var errorIcon = document.querySelector(".error-icon");
    errorIcon.addEventListener("mouseover", function() {
      var errorText = document.querySelector(".error-text");
      errorText.classList.add("show");
    });

    errorIcon.addEventListener("mouseout", function() {
      var errorText = document.querySelector(".error-text");
      errorText.classList.remove("show");
    });
        

      